*{
    box-sizing: 0;
    box-shadow: 0;
    padding: 0;
    margin:0;
}

div {
    position: absolute;
}

body{
    background-color: black;
}

.nave {
    background-image: url("../imagenes/navefondo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 100%;
    top: 0px;
    margin-left: 40%;
    left: -300px;
}

.zona{
    border: red 1px solid;
    z-index: 2;
    margin-left: 23%;
    margin-top: -4%;
}


.seguridad {
    top: 350px;
    left: 110px;
    width: 70px;
    height: 100px;
    cursor: pointer;
    
}

.numeros{
    
    top: 350px;
    left: 110px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border: rgb(229, 255, 0) 1px solid;
    z-index: 2;
    margin-left: 14.7%;
    margin-top: -5%;
    text-align: center;
    padding: 40px 10px;
}
.electricidad{
    top: 350px;
    left: 110px;
    width: 70px;
    height: 100px;
    cursor: pointer;
    border: rgb(0, 4, 255) 1px solid;
    z-index: 2;
    margin-left: 33.4%;
    margin-top: -0.5%;
}

.administrar{
    top: 350px;
    left: 110px;
    width: 60px;
    height: 65px;
    cursor: pointer;
    border: rgb(123, 255, 0) 1px solid;
    z-index: 2;
    margin-left: 52%;
    margin-top: 2%;
}
.gasolina{
    top: 350px;
    left: 110px;
    width: 60px;
    height: 65px;
    cursor: pointer;
    border: rgb(255, 0, 179) 1px solid;
    z-index: 2;
    margin-left: 41%;
    margin-top: 2.5%;
}

.zonaN{
    top: 350px;
    left: 110px;
    width: 60px;
    height: 65px;
    cursor: pointer;
    border: rgb(238, 255, 0) 1px solid;
    z-index: 2;
    margin-left: 45.5%;
    margin-top: -1%;
}
.salir{
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    z-index: 3;
}




