*{
    box-sizing: 0;
    box-shadow: 0;
    padding: 0;
    margin:0;
}

div {
    position: absolute;
}

body{
    background-color: black;
}

.nave {
    background-image: url("../imagenes/navefondo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 100%;
    top: 0px;
    margin-left: 35%;
    left: -300px;
}

.zona{
    border: red 1px solid;
    z-index: 2;
    margin-left: 22%;
}

.eletricidad {
    top: 350px;
    left: 110px;
    width: 70px;
    height: 100px;
    cursor: pointer;
    
   
}

.juego {
    top: 350px;
    left: 400px;
    width: 50px;
    height: 50px;
    
}

.reactor{
    top: -80px;
    left: -550px;
    width: 70px;
    height: 100px;
    cursor: pointer;
}
.correcto {
    width: 50px;
    height: 50px;
    top: -30px;
    left: -100px;
    cursor: pointer;
    
}

.salir{
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    z-index: 3;
}









