*{
    box-sizing: 0;
    box-shadow: 0;
    padding: 0;
    margin:0;
}

div {
    position: absolute;
}

body{
    background-color: black;
}

.nave {
    background-image: url("https://lh5.googleusercontent.com/GHZz3i3dr5pBzhvJujclt1YkdMAP5UZ7IWWBUuHDlrWxt7l8731QHYM4pt6iHcwT3fO2za4X7ioXvrn6CQNBmvK87iqchs2kZuT3fjMwfaAF5Yw3uQ=w1280");
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 100%;
    top: 0px;
    margin-left: 35%;
}

.zona{
    border: red 1px solid;
    z-index: 2;
    margin-left: 22%;
}

.eletricidad {
    top: 350px;
    left: 510px;
    width: 70px;
    height: 100px;
    cursor: pointer;
    
   
}

.juego {
    top: 10px;
    left: 450px;
    display: none;
}

.correcto {
    width: 50px;
    height: 50px;
    top: 370px;
    left: 860px;
    cursor: pointer;
    display: none;
}

.salir{
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    z-index: 3;
}









