*{
    box-sizing: 0;
    box-shadow: 0;
    padding: 0;
    margin:0;
}



body{
    background: black;
    color: #ffffff;
    
}

.fondo{
    border:1px solid rgb(60, 255, 0);
  
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color:rgb(255, 255, 255);
    z-index: 2;
    position: relative;
    margin-top: -235%;
    text-align: center;
    
}


.container{
    
    width: 215.5vh;
    position: absolute;
    height:110vh;
    border:1px solid red;
    margin-top:-40px;
}


.containercito{
    display:grid;
        
    width:100%;
    max-width:1000px;
    margin: auto;
    text-align:center;

    grid-template-columns:1fr 1fr;

}

.maxcon{
    
    width:90%;
    margin: auto;
    text-align:center;
    max-width:1000px;
    
}



.containercito > div{

    display: block;
    padding:2px;
   
}

.botones{
    background-color: transparent;
    color:white;
    width:210px;    
    height:30px;
    border: 2px solid white;
    cursor:pointer;
    border-radius: 10px;
   
}

.line{
    border:3px solid white;
    padding:3px;
    width:212px;
    margin-left: 27%;
    margin-top:-3%;
    border-radius: 10px;
}

.bay{
    margin-left: 38%;
    margin-top:-2.4%;
}


