*{
    box-sizing: 0;
    box-shadow: 0;
    padding: 0;
    margin:0;
}


body{
    background: black;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    
}

.titulo{
    margin-left: -5%;
    margin-top: -23%;
    width: 110%;
    height: 70%;
   
}.cabeza img{

    margin-left: 5%;
    width: 90%;
    height: 5%;
    margin-top: -4%;
}


.container{
    
    position: absolute;
    margin-left: 0;
    width: 99.7%;
    height: 400px;   
    margin-top: 0;
 
   
}
svg{
    position: relative;
    background: rgba(94, 18, 18, 0);
    padding: 0;
}


.containercito{
   
    display:grid;
    
    width:100%;
    max-width:1000px;
    text-align:center;
  
    grid-template-columns:1fr 1fr;

}

.maxcon{
    
    width:90%;
    margin: auto;
    text-align:center;
    max-width:1000px;
    margin-top: 1%;
}



.containercito > div{
    position:relative;
    display: block;
    padding:2px;
   
}

.botones{
    background-color: transparent;
    color:white;
    width:210px;    
    height:30px;
    border: 2px solid white;
    cursor:pointer;
    border-radius: 10px;
    font-size: 20px;position:relative;
   
}

a {
    color: #ffffff;
    text-decoration: none;
}

.line{
    border:3px solid white;
    padding:3px;
    width:212px;
    margin-left: 27%;
    margin-top:-3%;
    border-radius: 10px;
}

.bay{
    margin-left: 38%;
    margin-top:-2.4%;
   
}

/* -------------------------------------nosotros.html------------------------------------------- */
.nosotroC{
    position: absolute;
    width: 75%;
    height: 90%;
    margin-left: 12%;
    margin-top:2%;
    color:black;

    background: white;
    border-radius: 20px;
  

  
}

h1{
    font-size: 80px;
   
}

.cabecera{
    text-align: center;
    margin-top: -4%;
}


.acomodar{
  
    width: 250px;
    margin-left: 15%;
    text-align: center;
}

.acomodar img{
    margin-left: 9%;

}

.acomodar2{
   
    width: 250px;
    margin-left: 32%;
    text-align: center;
}

.primerb{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    font-size: 25px;
    gap:0;    
    grid-template-columns: 1fr 1fr 1fr ;
}

.segundob{
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
}
.subLogo{
    width: 10%;
    height: 20%;

    margin-right: 46.5%;

    margin-top:-15%;
    margin-left: auto;
}

.subLogo img{
    width: 178px;
}

.personaje1{
    width: 70%;
    height: 80%;
}
 
.personaje2{
    width: 60%;
    height: 70%;
}

.salir{
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:rgb(158, 154, 154);
}