body {
    background-image: url("https://lh3.googleusercontent.com/nW5C4ZqT4Zu3uHE4jbkICcK8CJ69wxI1C9cO_1Wiu3jgk7VPXtDq9CVc-QSqOAqa_gPYgj6pNQ0AkD0IQRiN3BH6X3qlV55oAWawpcfRlwX4itGNf84=w1280");
    background-repeat: no-repeat;
    background-size: 100%;
}
