body {
    background-image: url("https://lh3.googleusercontent.com/iczIJDfEof3nXKakTwqsSlX9qT1LkPArbfe5kK5vwnQ99k8eaSYcME_2XODXffnUrJ8CV7IZmJDw-0gGPjNN0GUysMTWQMbqFcUFHimkWW97wH_Neoc=w1280");
    background-repeat: no-repeat;
    background-size: 100%;
}
