body{
    background-image: url(../imagenes/enviandoFondo.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}

.enviandoF{
    position:absolute;
    background-image: url(../imagenes/enviando.png);
    background-size: 40vw 50vh;
    background-repeat: no-repeat;
    width: 40%;
    
    height: 330px;
  
    border-radius: 20px;
    margin-top: -2%;
    margin-left: 30%;
    
}


.iconos{
    margin-left: 93.2%;
    margin-top: -10px;

    
}

.iconos img{
    width: 100%;
    height: 100%;
}


.salida{
    margin-top: -5%;
    margin-left: 25%;
    
}

.salida img{
    width: 6%;
    height: 6%;
}

canvas {
    display: none;
    background-color: #339900;
    border-radius: 10px;
    border: 3.5px solid rgb(0, 0, 0);
    margin-top: 20%;
    width: 90%;
    z-index: 3;
}   

.contenerdorCargar{
    position: absolute;
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 20%;
    margin-left: 14%;
    
}

.botonpor{

    width: 20%;
    height: 10%;
    margin-left: 40%;
    margin-top: -6%;
    position: absolute;
    cursor:pointer;
    border-radius: 3px;
    border: 2px solid #504f4f;
    background-color: #999999;
    outline: none;
    font-size: 18px;
    color: #3d3d3d;
    
    
}
